#header{
    position: relative;
    background-color: #fff;
    z-index: 2000;
}
#header .special_bg{
    position: relative;
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
}
#header .group_flex{
    position: relative;
    width:1300px;
    height: 100%;
    margin:0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    padding:0 30px;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;

}
#header .logo_area{
    position: relative;
    height: 100px;
}
#header .logo_default{
    position: absolute;
    top: 50%;
    left: 600px;
    margin-top: -10px;

}
