body{
    background-color: ghostwhite;
    height: 2300px;
    margin:0
    
}
ul{margin:0;padding:0;}
li{
    list-style: none;
   
    
    
}
.con{padding:25px;}


a{
    color: inherit;
    text-decoration: none;
    text-transform: none;     
}
p{
    margin-left: 1em;
    margin-right: 1em;
}

.big {
    display: flex;
    justify-content: space-between;
    
}

.container {
    display: flex;  
    align-items: center;
}
.QRNPAY {
    display: flex;
    justify-content: end;
    align-items: center;
    
}


.under_main{
    width: 900px;
    margin: 0 auto;
}
.logo_naver{
    text-align: center;
    width:530px;
    height:70px;
    margin:auto
}
#main_search{
    width: 700px;
    height: 68px;
    padding: 5px;
border: none;
    font-size: 30px;
    outline: none;
    padding-left: 20px;
}
.big_search{
    border: 5px solid lawngreen;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 900px;
    position:relative;
    margin-top: 100px;
    /* position: relative;
    top:30px;
    right: 18%; */
}
.big_searchicon{
    position: absolute;
    right: 0;
    /* position: relative;
    right: 11.5%; */
}
.main_icon{
    text-align: center;
    margin-top: 50px;
    /* position: relative;
    top: 50px; */
    margin-bottom: 30%;
}

.under_input{
    display: flex;
    /* position: relative;
    right: 5%; */
    align-items: center;
    

    
}
.under2_input{
    display: flex;
    /* position: relative;
    right: 5%;   */
    align-items: center;
    
}
.eight_icon{
    width: 25%;
    
}
.eight_icon img{
    width: 70px;
    border-radius: 50%;
}

.infrmation{
    /* position: relative;
    top: 10px; */
    background:ghostwhite;
    width:100%;
    max-width:900px;
    
}
.con{
    background:#fff;
    width:98%;
    margin:10px auto;
    
    
}
.weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weather_inf{
    display: flex;
   
}
.ac{
    display: flex;
    justify-content: flex-start;
}
.my_weather{
    display: flex;
    text-align: center;
    justify-content: left;
    


}
.my_weather_under{
    padding: 10px;
}

.sche_weather{
    display: flex;
    
    
    
    
}
.sche_weather li{
    padding: 15px;
    margin-right:12px;
    margin-bottom: 15px;
    background-color: gainsboro;
    
}
.sche_weather li:hover{
    background-color: royalblue;
    color: white;

}

.sche2_weather div{
    text-align: center;
}


.sche2_weather{
    display: flex;
    
}
.nine_icon{
    width: 11.1%;
}

.covid{
    display: flex;   
    margin-right: 15%;
    justify-content: space-between;
    text-align: center;
}
.covid_2{
    display: flex;
    
}
.covid_image{
    margin-top:20px
}
.covid_19{
    margin-top: 35px;

    
}
.covid_ko{
   
    margin-bottom: 20px;
}
.covid_3{
    display: flex;
    
}
.covid_image2{
    margin-top: 20px;
}
.covid_fact{
    margin-top: 35px;
}
.medicine{
    margin-bottom: 20px;
    
}
.korea{
    margin-left: 30%;
    display: flex;
    text-align: center;
}
.ko_day{
    margin-top: 30px;
}
.app_list{
    display: flex;
    justify-content: space-between;
}
.app_list1{
    display: flex;
}
.Webtoon{
    display: flex;
    justify-content: space-between;
}
.pan{
    display: flex;
    justify-content: space-between;
}

.pan_1{
 
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.pan_2{
    
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.update_naver{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer{
    
    width: 900px;
    margin: 0 auto;
}
.footer_main{

    width: 300px;
    margin: auto;
}
.last1{
    text-align: center;
    margin-bottom: 20px;

}
.last2{
    text-align: center;
    margin-bottom: 20px;
}
.last3{
    text-align: center;
}

.info_link{    
    
    
    top: 7px;
    left: 0;
    width: 1px;
    height: 10px;
    
}

.pan_1 li{
    background-color:gainsboro;

}
.pan_2 li{
    background-color: gainsboro;
}

.under_input li{
    
}