/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
.desktop{
  background-color: whitesmoke;
  width: 1500px;

  height: 1000px;
}
.getImage {
  
  width: 80px;
  height: 80px;
  padding: 30px;
  position : relative;
}
.getIcon {
  width: 80px;
  height: 80px;
  padding: 30px;
  position : relative;
}
.getFolder{
  background-color: gainsboro;
  width: 800px;
  height: 500px; 
}


.myChoice {
  display: flex;
  position: relative;
  top: 900px;
  left: 500px;
}
.menuButton {
  display: flex;
  
}
.menu1 {
  padding: 10px;
}
.menu2 {
  padding: 10px;
}
.menu3 {
  padding: 10px;
}

.newWindow{
  background-color: black;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 600;
  opacity: 0.2;
  
  
}
